/********* RESET********/
* { margin:0;  padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; vertical-align:bottom; }

/********** FONT *********/
/* noto-serif-kr-regular - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-regular.eot'),
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-regular.woff2') format('woff2'),  /* Super Modern Browsers */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-regular.svg#NotoSerifKR') format('svg'); /* Legacy iOS */
}
/* noto-serif-kr-700 - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: bold;
  font-weight: 700;
  src: url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-700.eot'), /* IE9 Compat Modes */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-700.woff') format('woff'), /* Modern Browsers */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://img.khan.co.kr/spko/fonts/noto-serif-kr-v6-korean-700.svg#NotoSerifKR') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'notokr-regular';
    src: url('https://img.khan.co.kr/spko/fonts/notokr-regular.eot'),
		 url('https://img.khan.co.kr/spko/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('https://img.khan.co.kr/spko/fonts/notokr-regular.woff') format('woff'),
         url('https://img.khan.co.kr/spko/fonts/notokr-regular.ttf') format('truetype'),
         url('https://img.khan.co.kr/spko/fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------*/
/******** 전체 기본 CSS - PC 기준*******/
/*-------------------------------------*/

html {}
body { background: #fff;  position: relative; letter-spacing: -0.02em;font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif; }
body.fixed { height:100vh; overflow-y: hidden; }


/* loading */
.loading-page { width: 100%; height: 100%; height: 100vh; background: #161616;position: fixed; z-index: 101; left: 0px; top: 0px; right:0px; bottom: 0px; overflow:hidden; }
.loading-gif { width: 100%; height: 150px;position: absolute; top: 50%;margin-top: -20px; }
.loading-gif > p {  text-align: center; color: #fff; margin-top: 20px; font-size: 12px; opacity: 0.5; font-family: sans-serif; font-weight: bold;}
.loading-ment {font-size: 12px; opacity: 0.5; font-family: sans-serif; }
.spinner {margin: 0px auto;width: 70px; text-align: center; }
.spinner > div {width: 18px;height: 18px;background-color: #fff;border-radius: 100%;display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ase-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {  -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 {  -webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0)
  }
  40% {
  -webkit-transform: scale(1.0)
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.loading-ment { text-align: center;  margin-top: 10px; font-weight: normal; color: #fff;letter-spacing: 2px;}
.after-load { display: block;}

::selection { background: #ff9c34; color: #111; text-shadow: none; }
::-moz-selection {background: #ff9c34; color: #111; text-shadow: none; }
::-webkit-selection {background: #ff9c34; color: #111; text-shadow: none; }


/*****IE 블락******/
.ie-block {  z-index: 99999; width:100%; height:100vh; background:#111; background: rgba(21, 21, 21, 0.9);position:fixed; top:0;left:0;bottom:0;right:0;}
.ie-block .alert-msg { position: absolute; background:#fff; box-sizing: border-box; padding: 25px; border-radius: 5px;
box-shadow: 2px 2px 8px rgba(152, 153, 156, 0.2);width: 50%; left:25%; top: 50%; margin-top:-150px; }
.ie-block .alert-msg p { margin-bottom:8px;  text-align: center; color: #454750;font-size: 20px; }
.ie-block .alert-msg button {    display: block; width: 80%; margin: 0px auto;margin-top: 20px;
box-sizing: border-box;  padding: 10px; background: #ececf1;  border-radius: 4px; color: #565661; font-weight: bold; font-size: 14px; cursor: pointer; border: 1px solid #dedee2; letter-spacing: -0.05em; }


/* Header */
.interactive-header { position: fixed;padding: 0px 10px;box-sizing: border-box;top: 0px; left: 0px; width: 100%; height: 45px; z-index: 100;
background:#fff; }
.interactive-header .headerWrap { width: 100%; height: 100%; }
.interactive-header .header_container { margin: 0 auto; width: 100%; height: 100%; position: relative; overflow: hidden; }
.interactive-header .header_container .toggle-btn{ display:none; }
.interactive-header .khan_btn { float: left;  transition:all 0.5s ease 0s; height: 100%; box-sizing: border-box;padding: 8px 0;}
.interactive-header .khan_btn img { width:100px; height: auto; }
.interactive-header .khan_btn:hover { opacity: 1; }
.interactive-header .share_bx { float: right;position: relative; top: -3px; }
.interactive-header .share_bx span {pos ition: relative;  width: 22px; height: 40px;  cursor: pointer; }
.interactive-header .share_bx span img  { transition:all 0.4s ease 0s; opacity: 0.8; filter: alpha(opacity = 80); width: 24px; }
.interactive-header .share_bx span:hover > a > img { opacity:1; filter: alpha(opacity = 100); }
.interactive-header .page-title { color:#111; width: 100%; text-align: right;font-size: 14px;  line-height: 40px; box-sizing: border-box; padding-right: 0px; font-weight: 500;}
.interactive-header .page-title .title-text {display: inline;}
.interactive-header .page-title .global-navi {display: inline;}
.interactive-header .page-title .global-navi span { opacity: 0.5; }
.interactive-header .page-title .global-navi span.on { opacity:1;  color: #fbcd2f; background: none; pointer-events: none; cursor: default;}
.interactive-header .page-title .global-navi span:hover { opacity:1; }
.interactive-header .page-title .global-navi span a { color:#fff;box-sizing: border-box;padding: 0px 4px; cursor: pointer; margin: 0px 4px; background: #3b3b3b; }
.interactive-header .page-title .global-navi span.on a { color: #fbcd2f;  }
.top-title {  position: absolute; left: 50%; margin-left: -60px; width: 120px; height: auto;  }
.top-title img {  width: 120px; margin-top: 12px; opacity:0.5; }
.share_bx span .user-count { position: absolute; bottom: 18px; left: -20px; font-size: 13px;  color: #b2b2b2;font-style: normal; letter-spacing: 0px; }
.share_bx span:hover > img { opacity:1; filter: alpha(opacity = 100); }
/* Header */

/* common */
.wrap-psrelative, .wrap_psrelative { width: 100%; height :100%; position: relative; }
.wrap_mw_1000 { max-width: 1000px; margin: 0 auto; }
.wrap_mw_1100 { max-width: 1100px; margin: 0 auto; }
.wrap_mw_1200 { max-width: 1200px; margin: 0 auto; }
.wrap_mw_650 { max-width: 650px; margin: 0 auto; }
.wrap_mw_550  { width: 100%; height: 100%; position: relative;  max-width: 550px; margin: 0 auto;}
.noise { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("http://img.khan.co.kr/spko/storytelling/2016/republic/noise2.png") top left repeat; }
.cover-pattern { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/overptn.png") repeat; }
.cover-pattern2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2018/korea/pattern2.png") repeat; }
.cover-shadow { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black50.png") repeat; }
.cover-shadow2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow3 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow4 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.85); }
/* common */

.pc-share {  width: 95px; margin: 0 auto;margin-top: 20px; }
.pc-share .share_bx { }
.pc-share .share_bx::after { display: block; clear: both; content:''; }
.pc-share .share_bx { float: none; top:0; }
.pc-share .share_bx > div { float:left;  cursor: pointer;}
.pc-share .share_bx > div a { width: 100%; }
.pc-share .share_bx > div a img { width:100%; }
.pc-share .share_bx > .share_fb {width: 25px; margin: 7px 7px;}
.pc-share .share_bx > .share_tw {width: 40px; margin: 7px 7px;}

.container {  width:100%; position: relative; overflow: hidden;}
.each-sec { padding-bottom: 50px; box-sizing:border-box; position: relative; }
.sec-into {}

.story-title {width:100%;margin-bottom: 100px; }
.story-title .title-background {width:100%; min-height: 500px;   margin-bottom: 50px;}
.intro-graphic-holder { width:100%; position: relative; }
.intro-graphic-holder .subway { width:100%;  border-bottom: 2px solid #111; background: #8c8c92;}
.intro-graphic-holder .subway .subway-door { box-sizing:border-box; padding: 30px 0;    padding-bottom: 15px; }
.intro-graphic-holder .subway .subway-door img { display:block; margin: 0 auto; }
.intro-graphic-holder .gap { width:100%; height: 120px; background: #252525;background: linear-gradient(0deg, #555, #111);}
.intro-graphic-holder .platform { width:100%;  position: relative; }
.intro-graphic-holder .platform .platform-side { width:100%; padding: 10px; box-sizing:border-box;background: #61b759;}
.intro-graphic-holder .platform .platform-side > img { display:block; margin: 0px auto; }
.intro-graphic-holder .platform .platform-body { width:100%; position: relative;  border-top: 2px solid #111; }
.intro-graphic-holder .platform .platform-body .platform-footsign { box-sizing:border-box; padding: 30px; background: linear-gradient( 0deg, #fff, #cfcfcf);}
.intro-graphic-holder .platform .platform-body .platform-footsign > img { display:block; margin: 0px auto;  }
.intro-graphic-holder .platform .platform-body .human-foot { position: absolute; width:200px; bottom:0px; left:50%; margin-left:-100px;   }
.intro-graphic-holder .platform .platform-body .human-foot .foot-left { position: relative; display:inline-block; }
.intro-graphic-holder .platform .platform-body .human-foot .foot-right {position: relative; display:inline-block; margin-left: 30px;}
.intro-graphic-holder .platform .platform-body .human-foot > div > img { position: relative; top: 0; }
.intro-graphic-holder .platform .platform-body .human-foot .foot-left img {animation:footGoAhead 4s infinite cubic-bezier(0.37,0.01,0.55,0.99) both; animation-delay: 0.5s; }
.intro-graphic-holder .platform .platform-body .human-foot .foot-right img {animation: footGoAhead 4s infinite cubic-bezier(0.37,0.01,0.55,0.99) both; }
@keyframes footGoAhead {
	0% {top: 0px;}
	40% { top: 0px; }
	50% { top: -10px; }
	55% { top: -10px; }
	70% { top: 0px; }
	100% { top: 0px;}
}



.title-text {text-align: center; }
.title-text .page-main-title {position: relative; width: 840px; margin: 0 auto;  }
.title-text .page-main-title>  img { display: block; margin: 0 auto; }
.title-text .page-main-title .title-falling { position: absolute;  bottom: 0; right: 180px; }
.title-text .page-main-title .title-falling img { position: relative; bottom: 0; left:0; bottom: 200px; opacity:0;  }
.title-text .page-sub-title {   margin-top: 20px; color: #2e2e2e;  text-align: center; font-size: 22px; font-family: 'Noto Serif KR', 'notokr-regular';}

.going-down {  z-index: 100;  position: relative; width: 160px; margin: 0px auto; margin-top: 50px;}
.going-down span { display: block; text-align: center; color: #111; font-size: 13px;opacity: 0.8;letter-spacing: 0px; text-shadow: 0px 0px 1px #111;}
.going-down img { width: 18px; height: 10px;margin: 0 auto;  animation: goDown 1s cubic-bezier(0.37,0.01,0.55,0.99) infinite;  display:block; margin-top: 20px; }
@keyframes goDown{
	0%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}
	50%{-webkit-transform:translateY(-8px); transform:translateY(0)}to{-webkit-transform:translateY(-8px);transform:translateY(-8px)}
}

.para-holder { margin: 70px auto; font-family: 'Noto Serif KR',  'notokr-regular'; }
.para-holder p {font-size: 20px;  max-width: 550px; text-align: left; color: #222; margin: 20px auto; line-height: 1.7; letter-spacing: -0.3px;word-break: keep-all; }
.sec--00 .para-holder p { color:#fff; opacity:0.85; }
.para-holder p span.semi { font-size: 15px; opacity:0.7; }
.para-holder p.sm {   font-size: 15px;color: #9a9ba1; font-family: 'Noto Sans KR', 'notokr-regular';}
.para-holder p.strong { font-weight:bold;}
.para-holder p.center { text-align: center; }
.para-holder p.docu {box-sizing: border-box; padding-left: 40px; border-left: 3px solid #fff; font-size: 18px; }
.para-holder p.ment {  font-weight: 500;font-family: 'Noto Sans KR', 'notokr-regular';  font-size: 20px; }
.para-holder p.title {font-size: 20px; margin: 10px auto;font-family: 'Noto Sans KR', 'notokr-regular'; font-weight: 500;  text-align: left; box-sizing: border-box; padding-left: 14px;  border-left: 4px solid #111;line-height: 1.3;}
.para-holder p.title.title-double  {    line-height: 1.5;}
.para-docu {   box-sizing: border-box;}
.para-docu img {display: block; margin: 0 auto; width: 650px;   border-radius: 20px; border: 2px solid #111;}
.para-docu p { font-weight: 500; font-style: italic;box-sizing: border-box;  padding: 25px; color: #222;font-size: 20px; font-family: 'Noto Sans KR', 'notokr-regular'; word-break: keep-all; max-width: 650px; margin-bottom: 0;}
.sec-title .numb { font-family: 'Noto Serif KR', 'notokr-regular', serif;  width: 100%;text-align: center;
font-size: 80px;line-height: 120px;color: #222; font-weight: 600; font-weight: 600;}
.sec-title .title {  width: 100%; font-size: 22px; line-height: 1.5; color:  #282828; text-align: center;font-family: 'Noto Serif KR', 'notokr-regular';font-weight: bold;}
.sec-title .subtitle {color: #fff;text-align: center;font-size: 24px; font-weight:bold; font-weight:normal;}
.sec-title {  position: relative;margin-bottom: 50px;}
.sec-title > p { position: relative; }
.sec-title .semi { text-align: center; color: #888; font-size: 17px; margin-top: 5px;}

.illust-book-layout {height: 100vh; height:900px;}
.layout-blackThem {  background: #030000; }
.illust-book-layout .col-2 { max-width: 1300px; margin: 0 auto;}
.illust-book-layout .col-2 { }
.illust-book-layout .col-2 .each-col {width: 50%; float: left; }
.illust-book-layout .col-2::after { clear:both; content:""; display: block; }
.illust-book-layout .col-2 .col-illust {position: relative; top: 10vh;}
.illust-book-layout .col-2 .col-text { top: 15vh; position: relative;}
.illust-book-layout .col-2 .col-illust img {}
.illust-book-layout .col-2 .col-text  .para-holder {}
.illust-book-layout .col-2 .col-text  .para-holder p {}
.layout-blackThem .col-2 .col-text .para-holder p  { color: #e3e3e3;}
.illust-book-layout .col-2 .col-illust .illust-holder{  position: relative; max-width: 600px;  overflow:hidden; border-radius: 10px;  }
.story01 .back { position: relative; width:100%; height:100%; }
.story01 .person { position: absolute; bottom: -50px; right:-50px; }
@keyframes walk {
	0% {bottom:0; right:0; }
	80% {  bottom:40px; right:40px; }
	100% { bottom:40px; right:40px; }
}

.story02 .back { position: relative; width:100%; height:100%; }
.story02 .door-holder {  position: absolute; width: 100%;height: 100%; top: 0; left: 0; }
.story02 .door-holder .door  {  position: absolute;  width: 50%; height: 100%; box-sizing: border-box; background: #f0f0f0; }
.story02 .door-holder .door-left { top: 0;left: 0;border-right: 2px solid #111; }
.story02 .door-holder .door-right {  top: 0;right: 0;border-left: 2px solid #111;}
.story02 .metro-cover {  position: absolute; width: 100%;height: 100%; top: 0; left: 0;}
@keyframes zoomup {
	0% { transform: scale(1) rotateX(0deg) translateY(0px); }
	30% { transform: scale(1) rotateX(0deg) translateY(0px); }
	70% { transform: scale(2.5) rotateX(50deg) translateY(20px);}
	100% {  transform: scale(2.5) rotateX(50deg) translateY(20px);}
}
@keyframes zoom {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	70% { transform: scale(3);}
	100% {  transform: scale(3);}
}

@keyframes doorRight {
	0% { right:0; }
	50% { right: -50%; }
	100% { right: -50%; }
}
@keyframes doorLeft {
	0% {left: 0; }
	50%  { left: -50%;}
	100% { left: -50%; }
}


.story03 .back { position: relative; width:100%; height:100%; }
.story03 .wheel { position: absolute; top: 50px; right:150px;  }
.story03 .wheel img { position:relative; top: -20px; }
@keyframes rotate{
	0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); top: -20px;   }
	20%{ transform: rotate(-360deg); -webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); top: 30px; }
	40%{ transform: rotate(-1080deg); -webkit-transform: rotate(-1080deg); -ms-transform: rotate(-1080deg); top: 30px; }
	31%{ transform: rotate(-1080deg); -webkit-transform: rotate(-1080deg); -ms-transform: rotate(-1080deg); top: 30px; }
	100%{ transform: rotate(-1080deg); -webkit-transform: rotate(-1080deg); -ms-transform: rotate(-1080deg); top: 30px;}
}


.illust-book-layout-animation .story01 .person img { position: relative; bottom:0; right:0; animation: walk 4s infinite ease both;  }
.illust-book-layout-animation .story02 .back img {transform-origin: center bottom; animation: zoom 8s infinite ease both;  }
.illust-book-layout-animation .story02 .door-holder .door-left { animation: doorLeft 8s infinite ease both;}
.illust-book-layout-animation .story02 .door-holder .door-right { animation: doorRight 8s infinite ease both;}
.illust-book-layout-animation .story03 .wheel img  { animation: rotate 8s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;}

.img-holder { margin: 50px auto; position: relative; }
.img-holder > h2 {  font-size: 20px;text-align: center; }
.img-holder > p.sm {  font-size: 14px; opacity: 0.7; text-align: center; }
.img-holder .caption { text-align: center; /* text-align: left; */ max-width: 800px; margin: 12px auto; font-size: 14px; line-height: 1.5;opacity: 0.85; }
.caption { text-align: center; max-width: 800px; margin: 20px auto; font-size: 14px; line-height: 1.5;opacity: 0.85; }
.img-holder > img { display:block; margin: 0 auto; position: relative;  z-index:1; }
.img-holder-full { width:100%; margin: 100px auto;}
.img-holder-full > img{ width:100%; }
.img-holder .img-des {text-align: left; margin: 20px auto; max-width: 600px;  font-size: 16px;  border: 1px solid #5f5f5f; box-sizing: border-box; padding: 20px;}

#S01_03 { }
#S01_03 img {border: 5px solid #dadadb; }

.img-col-2 { overflow:hidden; position: relative; }
.img-col-2 > img { float: left; width: 48%; margin: 0 1%; border-radius: 5px;  }
.img-col-2:: after { clear: both; content:""; display:block; }

.top-byline {  margin: 20px auto;  margin-top: 30px; color:#111; opacity:0.8;}
.top-byline .top-border p { font-family: 'Noto Sans KR', 'notokr-regular';  font-size: 13px; line-height:21px;text-align: center; }
.top-byline .top-border p strong { margin-right: 10px;  }
.top-byline .top-border p a { color:#222; }
.top-byline .top-border p a:hover {text-decoration: underline;}

.metro-select-info-border { width:100%; box-sizing:border-box; padding: 30px 0; border-top: 1px solid #111; border-bottom: 1px solid #111;    max-width: 1200px;margin: 0 auto; }
.metro-select-area { position: relative; }
h2.metro-select-title  { text-align: center; margin-bottom: 5px; font-size: 26px; font-weight: 300; }
.metro-select-area .desc { text-align: center; font-size: 14px;  opacity: 0.8; color: #555459;}
.metro-select-area .desc b { text-decoration: underline;}
.metro-select-holder {position: relative; box-sizing:border-box; padding: 30px 0;}
.graph-holder {  position: relative; }
.metro-btn { max-width: 850px; position: absolute; top:100px;left:50%; margin-left:-300px;z-index:2; }
.metro-btn ul  { position: relative; text-align: center;}
.metro-btn ul li  { display: inline-block; box-sizing:border-box; padding: 5px 10px; font-family: 'Noto Sans KR', 'notokr-regular';  font-size: 16px; cursor: pointer;
border-radius: 4px;margin: 0px 2px; opacity: 0.7; background: #fff; color: #111;border: 2px solid #111;font-weight: bold;}
.metro-btn ul li:hover { opacity: 1; box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
.metro-btn ul li.on { opacity:1; background: #eff0f5; box-shadow: 2px 2px 7px rgba(0,0,0,0.3); }
.metro-btn p.des {margin-top: 10px;font-size: 14px; opacity: 0.7; text-align: center; }
.path-draw-canvas{position: relative;  max-width: 1000px; margin: 0px auto;  margin-bottom: 30px; }
.path-draw-canvas > div {position: relative;left: -7px;}
.path-draw-canvas > div > .pillow { width: 15px; height:150px; background:#111; }
.path-draw-canvas > div > .number-box {position: absolute; 
bottom: 0px; left: -24px;  padding: 0px 15px;height: 60px;background: #fff; border: 5px solid #111; box-sizing: border-box; line-height: 50px; border-radius: 10px;}
.path-draw-canvas > div > .number-box p {text-align:center; font-size: 18px;font-weight: 500; color: #494b51;}
.path-draw-canvas > div > .pillow-shadow {width: 50px; height: 100px; position:absolute;top:0;left:0;
background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,1));}
.path-draw-canvas .deco01 .number-box  {border: 5px solid #0a3190; }
.path-draw-canvas .deco02 .number-box  {border: 5px solid #00a547; }
.path-draw-canvas .deco03 .number-box  {border: 5px solid #f08300;}
.path-draw-canvas .deco04 .number-box  {border: 5px solid #00a1e9;}
.path-draw-canvas .deco05 .number-box  {border: 5px solid #a54a9a;}
.path-draw-canvas .deco06 .number-box  {border: 5px solid #d08e1d;}
.path-draw-canvas .deco07 .number-box  {border: 5px solid #657536;}
.path-draw-canvas .deco08 .number-box  {border: 5px solid #e9506f;}
.path-draw-canvas .deco09 .number-box  {border: 5px solid #c49b26;}
.path-draw-canvas .deco01 .pillow {background: #0a3190; }
.path-draw-canvas .deco02 .pillow {background: #00a547; }
.path-draw-canvas .deco03 .pillow {background: #f08300; }
.path-draw-canvas .deco04 .pillow {background: #00a1e9; }
.path-draw-canvas .deco05 .pillow {background: #a54a9a; }
.path-draw-canvas .deco06 .pillow {background: #d08e1d; }
.path-draw-canvas .deco07 .pillow {background: #657536; }
.path-draw-canvas .deco08 .pillow {background: #e9506f; }
.path-draw-canvas .deco09 .pillow {background: #c49b26; }

#PATH { display:block; margin: 0 auto; overflow:visible;}
#PATH .path { stroke:#111; stroke-width: 15px; fill:none;}
#PATH .path-line01 { stroke: #0a3190; }
#PATH .path-line02 { stroke: #00a547;}
#PATH .path-line03 { stroke: #f08300;}
#PATH .path-line04 { stroke: #00a1e9; }
#PATH .path-line05 { stroke: #a54a9a; }
#PATH .path-line06 { stroke: #d08e1d; }
#PATH .path-line07 { stroke: #657536; }
#PATH .path-line08 { stroke: #e9506f; }
#PATH .path-line09 { stroke: #c49b26;}

#PATH .path-hide-f0 {stroke-dashoffset: 1200; stroke-dasharray: 1200;}
#PATH .path-hide-f1 {stroke-dashoffset: 1200; stroke-dasharray: 1200;}
#PATH .path-hide-f2 {stroke-dashoffset: 2400; stroke-dasharray: 2400;}
#PATH .path-hide-f3 {stroke-dashoffset: 3600; stroke-dasharray: 3600;}
#PATH .path-hide-f4 {stroke-dashoffset: 4800; stroke-dasharray: 4800;}

.station-group { cursor: pointer; opacity:0;}
.station-group text {text-anchor: middle; font-size: 14px;font-weight: bold; color:#111;  stroke: white; stroke-width: 1.5px; paint-order: stroke fill;  text-anchor: middle; }
.station-circle { r: 6; fill:#fff;    fill: rgba(255,255,255,0.7); }
.station-group:hover > .station-circle { fill: rgba(255,255,255,1); }
.st-line-1 .station-circle { stroke: #0a3190; }
.st-line-2 .station-circle { stroke: #00a547;}
.st-line-3 .station-circle { stroke: #f08300;}
.st-line-4 .station-circle { stroke: #00a1e9; }
.st-line-5 .station-circle { stroke: #a54a9a; }
.st-line-6 .station-circle { stroke: #d08e1d; }
.st-line-7 .station-circle { stroke: #657536; }
.st-line-8 .station-circle { stroke: #e9506f; }
.st-line-9 .station-circle { stroke: #c49b26;}

.metro-guide {color: #fe583f; color:#555; font-size: 12px; text-align: right; margin-top: 10px;}
span.icon-alert { }
span.icon-alert img { width: 14px;    vertical-align: middle; }
.metro-btn ul li span.icon-alert { margin-right: 4px; }
.metro-guide span.icon-alert img  { width: 12px; }
.metro-guide span.red { color: #fe583f; font-weight: bold; }

.station-info-holder { width: 100%;  box-sizing: border-box;  padding-top:30px; padding-bottom: 50px; display:none;max-width: 1300px;margin: 0 auto; background: #f4f4f4;}
.station-info {margin: 0 auto; position: relative;}
.name-holder {text-align: center;}
.name-holder  h2.station-name {  font-size: 28px; line-height: 1; font-weight: 800; color: #303037; }


.station-para {padding: 20px; background-color: white;}
.station-distance {text-align: center; }
.station-distance h3 {font-size: 17px;font-weight: 500; color: #262629; margin-bottom: 10px;}
.crevasse-svg-holder { padding: 20px 0px;  width: 1150px; box-sizing: border-box; margin: 0 auto;  position: relative;background: rgba(255,255,255,0.5); margin-bottom: 20px; border-radius: 10px;}
.crevasse-svg-holder h4  { text-align:center; font-size: 15px; }
.crevasse-svg {width: 1000px; height: 150px; min-height:150px; overflow: visible; display:block; margin: 50px auto; position: relative; left: 20px;}
.crevasse-svg h4 { text-align:center; font-size: 15px; }
.crevasse { stroke-width:3;  stroke: #272727; fill: none;}
.crevasse-svg .default-line { stroke-width:1;  stroke: #111; fill: none; shape-rendering: crispEdges;}
.crevasse-svg .platform-number { font-size: 11px;font-weight: bold; color:#111;  stroke: white; stroke-width: 1.5px; paint-order: stroke fill;  text-anchor: middle; }
.crevasse-svg .desc-path {stroke: #111;stroke-width: 2; stroke-dasharray: 6; fill: none;stroke-opacity: 0.2;shape-rendering: crispEdges;}
.crevasse-svg .defalut-text { font-size: 12px;font-weight: bold; color:#111;  text-anchor: middle;}
.crevasse-svg .desc-text { font-size: 12px;font-weight: bold; color:#333;opacity:0.3; text-anchor: middle;}
.crevasse-svg .sign { fill: #9ba1b8; }
.crevasse-svg .signPath { stroke: #434655; stroke-dasharray: 3; fill: none; stroke-opacity: 0.5; shape-rendering: crispEdges;}
.crevasse-line01 { stroke:#0a3190; }
.crevasse-line02 { stroke:#00a547; }
.crevasse-line03 { stroke:#f08300; }
.crevasse-line04 { stroke:#00a1e9; }
.crevasse-line05 { stroke:#a54a9a; }
.crevasse-line06 { stroke:#d08e1d; }
.crevasse-line07 { stroke:#657536; }
.crevasse-line08 { stroke:#e9506f; }
.crevasse-line09 { stroke:#c49b26; }

.platformCircle { fill: rgba(255,255,255,0.4); cursor: pointer;  }
.platformCircle:hover {  fill: rgba(255,255,255,0.7);stroke: rgba(0,0,0,0.5); stroke-width:1;}
.accidentCircle { fill: #ff2100;fill-opacity: 0.75; }

.crevasse-svg-holder .tooltip { display:none; position: absolute;width: auto; bottom: 0px; z-index: 2;  border-radius: 5px;  box-sizing: border-box; padding: 15px;background: rgba(255,255,255,0.98);}
.crevasse-svg-holder .tooltip-wrap { text-align: right;font-size: 13px;}
.crevasse-svg-holder .tooltip .each-platform-dis {}
.crevasse-svg-holder .tooltip .each-platform-dis .distance {font-weight: bold;}
.crevasse-svg-holder .tooltip .board-info-01 {}
.crevasse-svg-holder .tooltip .board-info-01 .value  { font-weight: bold;}
.crevasse-svg-holder .tooltip .board-info-02 {}
.crevasse-svg-holder .tooltip .board-info-02 .value { font-weight: bold;} 
.crevasse-svg-holder-down {margin-bottom:0;}

.crevasse-poly { fill: rgb(0, 0, 0); fill-opacity:0.2;}
.crevasse-poly-line01 { fill:#3e507c;  }
.crevasse-poly-line02 { fill:#427056; }
.crevasse-poly-line03 { fill:#b87e39; }
.crevasse-poly-line04 { fill:#537888; }
.crevasse-poly-line05 { fill:#463044; }
.crevasse-poly-line06 { fill:#91784f; }
.crevasse-poly-line07 { fill:#4a532f; }
.crevasse-poly-line08 { fill:#653640; }
.crevasse-poly-line09 { fill:#78683b; }


.station-detail { margin: 20px auto;max-width: 800px; /* margin-bottom: 50px; background: #fff; box-sizing: border-box; padding: 30px; 
border-top: 4px double #111;border-bottom: 4px double #111;  border-top: 3px solid #404359; border-bottom: 3px solid #404359; */}
/* .detail-words {font-size: 17px;  line-height: 1.65; display: inline-block; width: 49%;  box-sizing: border-box; color: #3c3e40;} */
.detail-words b { min-width: 250px; font-weight:normal; }
.station-detail .detail-answer {font-weight:bold;color: #fe583f;}
.station-detail .detail-words{font-size: 20px; text-align: center;width: 100%;}
.station-detail p.semi {    font-size: 14px; text-align: center; opacity: 0.6;margin-top: 5px;}


.no-path-desc { text-anchor: middle;font-size: 14px;font-weight: bold;}
.legend-holder{position: relative; z-index:1; margin-top: 5px;}
.legend { margin: 10px auto; max-width: 500px; text-align: center; vertical-align: middle; float:right;margin-right: 50px; }
.legend ul { }
.legend ul li { display: inline-block; margin: 0px 5px; font-size: 13px; color: #424242; font-weight: bold;vertical-align: middle;}
.legend ul li span.circle {display: inline-block;margin-right: 5px;  width: 16px; height:16px; border-radius: 50%; background: #ff2100; opacity: 0.75;    vertical-align: middle; }
.legend ul li span.circle-01 {}
.legend ul li span.circle-02 { width: 22.62px; height:22.62px;  } 
.legend ul li span.circle-03 { width: 27.7px; height:27.7px; }
.legend ul li span.circle-04 { width: 32px; height:32px; }
.legend-holder:after { display:block; clear:both; content:"";}
 
.re-btn-holder { margin: 0 auto; margin-top: 57px; }
.re-btn-holder .re-button {   transition: all 0.2s ease 0s;width: 400px; box-sizing: border-box;padding: 25px;text-align: center; margin: 0 auto;border-radius: 4px;background: #4c4d55;cursor: pointer;}
.re-btn-holder .re-button p {color: #fff;font-size: 18px; font-weight: 400; opacity: 0.8;}
.re-btn-holder .re-button:hover { box-shadow: 10px 10px 15px rgb(61 61 70 / 25%); transform: translate(5px, 0px);}
.re-btn-holder .re-button:hover p {  opacity: 1;}

.img-holder .graphic-title {text-align: center;margin-bottom: 5px;  font-size: 24px; font-weight: 300;}
.tt-slider { max-width: 1000px;margin: 0 auto;border: 1px solid #111;border-radius: 10px; overflow: hidden; }
.tt-silder-des { opacity: 0.8; text-align: center; font-size: 14px; color:#222; margin-bottom: 10px; }
.tt-silder-des b { display: inline-block;padding: 0px 4px; border-radius: 2px; background: rgb(207 208 212 / 40%);}
.twentytwenty-handle { background: #2c2c2c !important; }
.img-holder-col-2 {  max-width: 1900px; margin: 0 auto; }
.img-holder-col-2 .col-holder {position: relative; width:100%; }
.img-holder-col-2 .col-holder > img { float:left; width: 48%; margin: 0 1%; border-radius: 10px;  }
.img-holder-col-2 .col-holder::after { clear:both; content:""; display:block; }
.img-holder-col-2 .caption {opacity: 0.5;width: 100%; }

.graph--pie { max-width: 1000px; margin: 0 auto;  text-align: center; }
.graph--pie > img {max-width: 400px; }
span.count {color: #008a21; font-weight: bold;background: #f0f0f0;border-radius: 3px; box-sizing: border-box;  padding: 1px 5px;}

.pie-graphic-area { width: 100%;   margin: 50px auto;  }
.pie-common-title {text-align: center; margin-bottom: 20px;font-size: 22px;font-weight: 500;} 
.pie-graphic-area .col-2-wrap { width:100%; max-width: 1000px; margin: 0 auto; position:relative; margin-bottom: 50px;}
.pie-graphic-area .col-2-wrap .img-col { float:left; width:50%; max-width: 450px; box-sizing:border-box; padding-right: 50px; }
.pie-graphic-area .col-2-wrap .img-col > img { width:100%; }
.pie-graphic-area .col-2-wrap .text-col {  float:left; width:50%; box-sizing: border-box; padding-top: 100px;}
.pie-graphic-area .col-2-wrap::after {clear:both; content:""; display:block; }
.pie-graphic-area .col-2-wrap .text-col > p {font-size: 20px;  max-width: 550px; text-align: left; color: #222; margin: 20px auto; line-height: 1.7; letter-spacing: -0.3px;word-break: keep-all; 
 font-family: 'Noto Serif KR', 'notokr-regular'; }
.pie-graphic-area .col-2-wrap .text-col > p .semi {font-size: 15px;opacity: 0.7;}

.metro-area {   margin: 50px auto;  box-sizing: border-box; padding: 10px 0; width: 100%; background: #d4e1d5;}
.position-time-holder {margin: 30px auto; position: relative;width: 500px;}
.position-time-holder .metro-position-graphic { width: 500px; height: 300px; overflow:hidden; border: 3px solid #111; position: relative;    border-radius: 8px; }
.position-time-holder .time-graphic {position: absolute;top: -20px; left: -60px; }
.metro-position-graphic .metro-back { position: relative; }
.metro-position-graphic .metro-back img { width:100%; position: relative; }
.metro-position-graphic .now-pos { position: absolute; }
.metro-position-graphic .now-pos img { animation: rotate3d 2s linear infinite normal; }
.time-watch {box-sizing:border-box; padding: 10px 15px; border: 3px solid #111; background:#fff;  border-radius: 5px;}
.time-watch p { font-size: 30px; color:#111; font-weight:bold; }
.time-watch img { width:70px; }
.part01 .metro-back img { top: -100px;}
.part01 .now-pos{ top: 123px; left: 315px;}

.metro-area .img-holder > img {border-radius: 20px;  overflow: hidden;box-shadow: 10px 10px 20px rgb(0 0 0 / 10%);}

@keyframes blink {
	0% {opacity:1; }
	40% {opacity:1; }
	50% {opacity:0.2; }
	60% {opacity:1; }
	100% {  opacity:1;  }
}
@keyframes rotate3d {
	0%{ 
	-webkit-transform: rotateY(0deg);
	transform:rotateY(0deg);
	}
	
	100%{
	-webkit-transform:rotateY(360deg);
	transform:rotateY(360deg);
	}
}
.para-holder-with-time-watch { position: relative; max-width: 550px;left: 40px; }
.para-holder-with-time-watch .metro-position-graphic { box-sizing:border-box; width: 300px; height: 200px; overflow:hidden; border: 3px solid #111; position: absolute;   border-radius: 8px;}
.para-holder-with-time-watch .part01 {  top: 0px; right: -320px;}
.para-holder .time-watch { position: absolute; top: 5px; left:-130px; }
.para-holder-with-time-watch  p { font-weight:bold;} 
span.station {color: #111; font-weight: bold; background: #e6f3e7;border-radius: 3px; box-sizing: border-box;  padding: 1px 5px;}

#S02_08 img { border-radius: 20px; overflow: hidden; box-shadow: 10px 10px 20px rgb(0 0 0 / 10%);max-width: 700px;}
#S03_02 img { border-radius: 20px; overflow: hidden; box-shadow: 10px 10px 20px rgb(0 0 0 / 10%);max-width: 700px;}
.chat-format {  width: 100%; max-width: 900px; margin: 50px auto; background: #d4e1d5;box-sizing: border-box; padding: 40px;}
.chat-format .docu-title {     font-size: 18px;  margin: 10px auto; font-family: 'Noto Sans KR', 'notokr-regular';  font-weight: 500;text-align: left; box-sizing: border-box;padding-left: 14px; border-left: 4px solid #596059; color: #323532; line-height: 1.3;}
.chat-format .chat-list {  width:100%; max-width: 800px; margin: 0 auto;} 
.each-chat-box {  width: 100%; margin: 30px 0; position: relative; display: table; }
.each-chat-left { max-width: 80%;    position: relative;}
.each-chat-right { max-width: 80%;  position: relative; left: 20%;}
.each-chat-box > div { display: table-cell;vertical-align: top;}
.each-chat-box .thumb { width: 70px;}
.each-chat-box .thumb-round { width: 60px; height: 60px;background-color:#fff; border-radius: 50%;display: block;margin: 0 auto;     overflow: hidden;}
.each-chat-box .thumb .name { text-align: center; color: #111;font-weight: bolder;word-break: keep-all;font-size: 14px;margin-top: 5px;}
.each-chat-box .chat-balloon {  box-sizing: border-box;padding: 0px 20px; }
.each-chat-box .chat-balloon .balloon {background: #fafffb;box-sizing: border-box;padding: 20px;border-radius: 5px;}
.each-chat-box .chat-balloon .tail {}
.each-chat-box .chat-balloon p { color:#111; font-size: 16.5px; line-height:1.6;font-weight: 500;}
.each-chat-right .chat-balloon p { }


.mobile-station-select-list { display:none;}
.mobile-station-select-list {width:100%; margin: 30px auto;}
.metro-btn p.des { display:none; }
.search-panel-wrapper { width:100%;box-sizing: border-box;  padding: 0px 12px;  }
.search-panel-wrapper .search-panel{ width:100%;}
.srch_opt { cursor:pointer; box-sizing: border-box; width: 100%; background: #fff; border-radius: 5px; border: 1px solid #222; 
padding: 10px; color: #3a3f44; font-weight: 500;font-size: 16px; line-height: 18px; text-align: center;
font-family: 'Noto Sans KR', 'Apple SD Gothic Neo','맑은 고딕', Malgun Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif;  }
.srch_opt option { font-size: 14px; color:#777; padding: 5px 0; display: block; }
.srch_opt:active  { }
.sliding-gif {display:none;}
.hideme { opacity:0; }

.twentytwenty-handle { width: 60px; height:50px; }
.twentytwenty-horizontal .twentytwenty-handle:before{margin-bottom: 30px;}
.twentytwenty-horizontal .twentytwenty-handle:after {margin-top: 30px;}

/** fixed Navi **/
.fixed-navi {position: fixed; right: 10px;top: 50%;margin-top: -250px; right: -200px;
font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','맑은 고딕';}
.fixed-navi .navi-body { height: 500px;}
.fixed-navi .navi-body .bar { height:100%; width:2px; background:#fff; background: rgba(0,0,0,0.2); position: relative; }
.fixed-navi .navi-body .bar .progress { position: absolute;  background: #fbcd2f; width:100%; height: 0%; top:0px; left:0px; }
.fixed-navi .navi-body .bar .step-txt { position: absolute; top:0px; right:0px; width: 200px;  height: 100%; text-align: right; box-sizing: border-box; padding-right: 20px; }
.fixed-navi .navi-body .bar .step-txt p {  font-size: 11px;line-height: 20px; color:#111;  text-shadow: 1px 1px 1px #fff;opacity: 0.8;  
 position: absolute; right: 15px; letter-spacing: 0;  font-weight: bold;}
.fixed-navi .navi-body .bar .step-txt p.on { opacity:1; }
.fixed-navi .navi-body .bar .step-txt p.s00 {top: 0%; }
.fixed-navi .navi-body .bar .step-txt p.s01 {top: 25%; }
.fixed-navi .navi-body .bar .step-txt p.s02 {top: 48%; }
.fixed-navi .navi-body .bar .step-txt p.s03 {top: 65%; }
.fixed-navi .navi-body .bar .step-txt p.s04  {top: 78%; }
.fixed-navi .navi-body .bar .step-txt p.s05 {top: 95%; }

/** fixed Navi **/


/*********digital common byline*******/
.digital-common-byline { width: 100%;  padding-top: 30px;}
.digital-common-byline .c-byline-wrap { }
.digital-common-byline .c-byline-border {box-sizing: border-box; padding: 30px; }
.c-byline-border-all {border: 1px solid #111;}
.c-byline-border-topBottom {border-bottom: 1px solid #111;border-top: 1px solid #111;}
.c-byline-noBorder { border:none; }
.c-byline-noBorder-Bg { background: #f5f5f5;}

.digital-common-byline .c-byline-border .brand-desc { margin-bottom: 30px; }
.digital-common-byline .c-byline-border .brand-desc p.head { font-size: 20px; line-height: 1; font-weight:bold; font-weight: 900;color: #2b2c2d; margin-bottom: 20px;}
.digital-common-byline .c-byline-border .brand-desc .desc-text { font-size: 15px; color:#565a5f; line-height: 1.6; word-break: keep-all;}
.digital-common-byline .c-byline-border .brand-desc .desc-text p { margin: 0; }
.digital-common-byline .c-byline-people {}
.digital-common-byline .c-byline-people h3 { font-size: 16px; }
.digital-common-byline .c-byline-people ul { margin-top: 15px;  width: 100%;display: block; position: relative;}
.digital-common-byline .c-byline-people ul li {position: relative;  float: left; width: 33%;box-sizing: border-box; padding-right: 30px; position: relative; padding-left: 60px;
 min-height: 50px;margin-bottom: 8px;}
.digital-common-byline .c-byline-people ul li .p-thumbs {border-radius: 5px; overflow:hidden;  position: absolute;  top: 0;left: 0;}
.digital-common-byline .c-byline-people ul li .p-thumbs img { width: 45px; height: 45px; }
.digital-common-byline .c-byline-people ul li .p-text { font-size: 13px;color:#565a5f;}
.digital-common-byline .c-byline-people ul li .p-text .name {}
.digital-common-byline .c-byline-people ul li .p-text .name a {color:#565a5f;font-weight: bold;}
.digital-common-byline .c-byline-people ul li .p-text .name a:hover { text-decoration: underline;}
.digital-common-byline .c-byline-people ul li .p-text .mail {display: block;}
.digital-common-byline .c-byline-people ul::after { display: block;content: ""; clear: both;}

.common-byline-b {background: #252524; margin-top:0; padding-top: 30px; }
.common-byline-b .c-byline-border { background: #3b3b3a; }
.common-byline-b .c-byline-border .brand-desc p.head { color:#fff; opacity:0.9; }
.common-byline-b .c-byline-border .brand-desc .desc-text { color:#fff; opacity:0.7;}
.common-byline-b .c-byline-people { color:#fff; opacity:0.7; }
.common-byline-b .c-byline-people ul li .p-text .name a { color: #ffffff; font-weight: normal;}
.common-byline-b .c-byline-people ul li .p-text .mail { color: #ffffff; opacity:0.4;}

/*********digital common byline*******/


/*****digi reco dark CSS*****/
.digital-list-dark {  background: #252524; border-top: 0px; }
.digital-list-dark h4 {  color: #eeeff0; opacity: 0.7;text-shadow: none;}
.digital-list-dark .digi-more a p { background: none; }
.digital-list-dark .digi-more a p:hover { color:#fff; border:1px solid #fff; }
.digital-list-dark .list-holder .each_item { border: none; background: #1a1f27;  border-radius: 4px;background: rgba(255,255,255,0.1);}
.digital-list-dark .each_item a { color: #dedede; }
.digital-list-dark .list-holder .each_item .item_info .item-title { font-size: 18px; line-height:24px; }
.digital-list-dark .digital-list-wrap  {  border-top: 1px solid #545454;}

.footer-area { background: #222; background: linear-gradient(-25deg, rgb(0 0 0), rgb(35 35 35));
-webkit-background: linear-gradient(-25deg, rgb(0 0 0), rgb(35 35 35)); background:#fff; border-top: 1px solid #bcbcbc;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 15%);}
.footer-area .digital-list-dark, .footer-area .common-byline-b{ background:none; }
.footer-area .common-byline-b .c-byline-border {background: rgba(255,255,255,0.08); border-radius: 5px; box-shadow: 3px 3px 8px rgb(0 0 0 / 10%);}



/*-------------------------------------*/
/***** 전체 기본 CSS - 모바일 기준******/
/*-------------------------------------*/

/***** 노트북 *****/
@media screen and (max-width: 1380px) {



}


/***** 모바일 Portraits ****/
@media screen and (max-width: 800px) {

html, body { width:100%; height: auto; overflow-y: visible; }
body.fixed { height:100vh; overflow-y: hidden; }
body.scrollOff{position:fixed;overflow:hidden;height:100%;}
  
.img-pc { display:none; }
.img-m { display:block; }
.wrap { overflow-x: hidden; }
.interactive-header{ height: 40px;padding: 0px 5px; }
.interactive-header .khan_btn img { width:80px; }

.top-byline { margin-top: 15px; opacity: 0.6;}
.top-byline .top-border p { font-size:12px; }
.each-sec { padding: 0;padding-bottom: 30px;}
.sec-title { margin-bottom:0; }
.para-holder { margin: 40px auto; /* font-weight: 400; */ } 
.para-holder p { font-size: 16.5px; box-sizing: border-box; padding: 0px 10px;  word-break: break-all;}
.para-holder p.sm {font-size:13px;}
.img-holder > img {width: 100%;}
.img-holder { margin: 35px auto; }
.img-holder .caption { width: 100%; box-sizing: border-box; padding: 0px 12px;  font-size: 13px; margin-top: 5px; text-align: left;opacity: 0.6;}



/****** YJ 모바일추가 ********/
.path-draw-canvas { display:none; }
.metro-btn {  position: relative; top: 0; left: 0; margin-left: 0; }
h2.metro-select-title {text-align: left;  font-size: 20px; width: 100%; box-sizing: border-box; padding: 0px 15px;}
h2.metro-select-title .jump { display:block; }

.metro-select-holder { padding: 20px 0;padding-bottom: 0; }
.metro-btn ul { text-align: left;width: 100%; box-sizing: border-box; padding: 0px 12px; }
.metro-btn ul li {margin: 3px 2px; font-size:14px;  opacity: 1; }
.metro-select-area .desc { text-align: left;  font-size: 13px; width: 100%; box-sizing: border-box; padding: 0px 12px; text-align: left;  opacity: 0.6; }
.metro-btn ul .btn_line_1 { border: 2px solid #0a3190; }
.metro-btn ul .btn_line_2 { border: 2px solid #00a547; }
.metro-btn ul .btn_line_3 { border: 2px solid #f08300;}
.metro-btn ul .btn_line_4 { border: 2px solid #00a1e9; }
.metro-btn ul .btn_line_5 { border: 2px solid #a54a9a;}
.metro-btn ul .btn_line_6 { border: 2px solid #d08e1d; }
.metro-btn ul .btn_line_7 { border: 2px solid #657536; }
.metro-btn ul .btn_line_8 { border: 2px solid #e9506f; }
.metro-btn ul .btn_line_9 { border: 2px solid #c49b26;}
.metro-btn ul li:hover { box-shadow: auto; }

.name-holder h2.station-name { font-size: 24px; }
.station-info-holder { padding-top:20px; }
.station-detail .detail-words { font-size: 16px; }
.station-detail p.semi { margin-top: 0px;font-size: 13px; opacity: 0.5;}
.station-distance h3 { font-size: 16px; }
.crevasse-svg { margin: 20px 0; margin-bottom: 0; position: relative; left: 0; box-sizing: border-box; padding-left: 70px;}
.crevasse-svg-holder {  width: 920px;  }
.crevasse-svg-holder h4 {  text-align: left; margin-bottom: 50px; box-sizing: border-box; width: 100%; -webkit-text-size-adjust:100%;
padding-left: 15px;border-left: 3px solid #494949; margin-left: 20px; line-height: 1; font-size: 14px !important;}
.crevasse-scroll {width: 100%; overflow-x: scroll;  overflow-y: hidden; position: relative;}
.crevasse-svg .desc-text { font-size: 11px; }
.crevasse-svg .defalut-text { font-size: 11px;}
.legend{width: 100%;margin-right: 0;  max-width: inherit;  transform: scale(0.9); transform-origin: top left;}
.legend ul li{  margin: 0px 2px;}
.re-btn-holder { margin-top: 30px; }
.re-btn-holder .re-button { width: 90%;  padding: 20px 0;}
.re-btn-holder .re-button p { font-size: 16px;opacity:1; }
.metro-select-info-border { }


.sliding-gif {  width: 150px; position: absolute; z-index:1; bottom: 10px; right:10px; display:block;  }
.sliding-gif .slide-img-holder { width: 100%; }
.sliding-gif .slide-img-holder .img-m { width: 100%;  position: relative; right:0px; margin: 0 auto; animation: slide 1s linear infinite normal; opacity: 1; width: 50px; }
.sliding-gif > p {font-size: 14px; color: #111; font-weight: bold; text-align: center;   box-sizing: border-box;padding: 5px;}
@keyframes slide {
	0% {
            opacity: 1; right:0px;
	}
	100% {
            opacity: 0.5;  right:20px;
	}

}

/****** YJ 모바일추가  *********/


/*수민 추가*/
.sec-title .numb {font-size: 60px;line-height: 90px;}
.sec-title .title {font-size: 20px;}
.sec-title .title span.jump { display:block; }
.para-holder p.ment {font-size: 17px; line-height: 1.6;}
.intro-graphic-holder { width: 100%; }
.platform-footsign img { width: 100%; }
.subway-door img {width: 100%;}
.platform-side {padding: 5px;}
.platform-footsign {padding: 20px;}
.intro-graphic-holder .gap { height: 100px;}
.foot-left img {width: 55px;}
.foot-right img {width: 55px;}
.intro-graphic-holder .platform .platform-body .human-foot {width: 150px; margin-left: -80px;}
.story-title .title-background {min-height: 300px;    margin-bottom: 30px;}
.title-text .page-main-title { width: 100%; width: 352px; }
.title-text .page-main-title img { width: 95%;width: 352px;}
.title-text .page-main-title .title-falling { right: 76px; }
.title-text .page-main-title .title-falling img { width: 65px;}
.title-text .page-sub-title{ margin-top: 10px; font-size: 16px;}
.story-title { margin-bottom: 10px;}
.para-docu img { width: 95%; box-sizing: border-box;}
.illust-book-layout { height: auto; }
.illust-book-layout .col-2 .each-col {width: 100%; float: none; top: 0; }
.illust-book-layout .col-2 .col-illust img { height: 100%; width: 100%;}
.illust-book-layout .col-2 .col-illust .illust-holder { border-radius: 0%;}
.illust-book-layout .col-2 .col-illust .story01 .person img { height: 250px;}

.layout-blackThem {  background: #030000; box-sizing: border-box; padding: 20px 0px; }
.story03 .wheel {width: 45%; right: auto; left: 32%; top: 22%;}
.story03 .wheel img {  width:100%; }
#S01_03 img {border: none;}
.img-holder .graphic-title { font-size: 18px;}
.tt-silder-des { font-size: 13px;}
.tt-slider {  width: 100%; border:none; border-top: 1px solid #111; border-bottom: 1px solid #111; border-radius: 0;}
.img-holder .img-des { margin: 20px 10px;  font-size: 14px;   line-height: 1.6;color: #5f5d5d;padding: 15px;background: #f3f3f3;border:none;}
.img-holder-col-2 .col-holder > img { float: none; width: 100%; margin: 5px auto;border-radius: 0;}
.graph--pie > img { width: 80%; max-width: 300px; float: none; margin-bottom: 10px;}
.para-holder .time-watch { position: relative; top: 0; left: 0; display: inline-block; margin-left: 10px;}
.para-holder-with-time-watch { left: 0;}
.metro-area .img-holder > img {border-radius: 0%;}
.para-holder p.title {margin: 10px 14px; margin-right:0; font-size:18px;  word-break: keep-all;}
.chat-format { padding: 25px 12px;}
.each-chat-left { max-width: 90%;}
.each-chat-right { max-width: 90%; left: 10%;}
#S02_08 img {border-radius: 0;}
.each-chat-box > div { display: block;}
.each-chat-box .chat-balloon p { font-size: 15px;}
.each-chat-box .chat-balloon .balloon { padding: 15px;}
.each-chat-box .chat-balloon { padding: 0;}
.each-chat-box .thumb { position: relative; margin-bottom: 10px; width: 40px; }
.each-chat-box .thumb-round { width: 40px; height: 40px; }
.each-chat-box .thumb-round img { width: 100%; }
.each-chat-box .thumb .name { position: absolute; width: 200px; bottom: 0px;}
.each-chat-right .thumb {position:absolute; top: 0px; right: 0px;}
.each-chat-box .thumb .name{ font-size: 12.5px;}
.each-chat-right .thumb .name { right: 45px; text-align: right;}
.each-chat-left .thumb .name {left: 45px; text-align: left;}
.each-chat-right {padding-top: 50px;}
#S03_02 img {border-radius: 0;}
/*수민 여기까지*/

#S01_05 {display:none;}

.pie-common-title {font-size: 18px;box-sizing: border-box; padding: 0px 20px; word-break: keep-all;}
.pie-graphic-area .col-2-wrap .img-col { width: 100%; float:none; padding: 0;}
.pie-graphic-area .col-2-wrap .img-col img {    width: 280px; margin: 0 auto; display: block;}
.pie-graphic-area .col-2-wrap .text-col { width: 100%; float:none;padding-top: 0;  }
.pie-graphic-area .col-2-wrap .text-col > p { font-size: 16.5px;  box-sizing: border-box; padding: 0px 10px; word-break: break-all;}
.metro-guide {text-align: left;width: 100%;box-sizing: border-box; padding: 0px 15px;}
.guide-02 { display:none;}
.bottom-byline { margin-top:0;}
.rel-article { padding: 20px 15px;  box-sizing: border-box;}
.rel-article .rel-box { }
.rel-article .rel-box .rel-art-list { padding: 15px; }
.rel-article .re.rel-article .rel-box .rel-art-list ul li a {  font-size: 15px; line-height:1.4; }
.rel-article .rel-box .rel-art-list ul li { text-align: left; }
.rel-article .rel-box .rel-art-list ul li a { line-height: 1.2; font-size: 15px; text-align: left;}
.digital-list-wrap { border-top:0;}

/*********digital common byline*******/
.digital-common-byline { width: 100%; margin-top: 0px; }
.digital-common-byline .c-byline-wrap {box-sizing: border-box; padding: 15px;}
.c-byline-noBorder-Bg { box-sizing: border-box;padding: 15px; }
.digital-common-byline .c-byline-border { padding: 20px; }
.digital-common-byline .c-byline-border .brand-desc p.head { margin-bottom: 12px; font-size: 16px;}
.digital-common-byline .c-byline-border .brand-desc .desc-text { font-size: 14px; }
.digital-common-byline .c-byline-border .brand-desc { margin-bottom: 20px; }
.digital-common-byline .c-byline-people h3 { font-size: 15px; padding-left: 10px; border-left: 5px solid #111; line-height: 1;}
.digital-common-byline .c-byline-people ul li { width: 50%; padding-right: 0px; padding-left: 50px; min-height: 42px; }
.digital-common-byline .c-byline-people ul li .p-thumbs img { width: 40px; height:40px; }
.digital-common-byline .c-byline-people ul li .p-text { font-size: 12px; }
.digital-common-byline .c-byline-people ul li .p-text .mail {  font-size: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%;}
/*********digital common byline*******/

}

/****** 모바일 Landscape *****/
@media (max-width: 800px) and (orientation: landscape){



}


 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

.path-draw-canvas { display:none; }
.metro-btn {  position: relative; top: 0; left: 0; margin-left: 0; display:block; margin: 0 auto;}
h2.metro-select-title { width: 100%; box-sizing: border-box; padding: 0px 15px;}
h2.metro-select-title .jump { display:block; }


.metro-select-holder { padding: 20px 0;padding-bottom: 0; }
.metro-btn ul { width: 100%; box-sizing: border-box; padding: 0px 12px; }
.metro-btn ul li {margin: 3px 2px; font-size:14px;  opacity: 1; }
.metro-select-area .desc {  font-size: 13px; width: 100%; box-sizing: border-box; padding: 0px 12px; opacity: 0.8; }
.metro-btn ul .btn_line_1 { border: 2px solid #0a3190; }
.metro-btn ul .btn_line_2 { border: 2px solid #00a547; }
.metro-btn ul .btn_line_3 { border: 2px solid #f08300;}
.metro-btn ul .btn_line_4 { border: 2px solid #00a1e9; }
.metro-btn ul .btn_line_5 { border: 2px solid #a54a9a;}
.metro-btn ul .btn_line_6 { border: 2px solid #d08e1d; }
.metro-btn ul .btn_line_7 { border: 2px solid #657536; }
.metro-btn ul .btn_line_8 { border: 2px solid #e9506f; }
.metro-btn ul .btn_line_9 { border: 2px solid #c49b26;}
.metro-btn ul li:hover { box-shadow: auto; }

.search-panel-wrapper .search-panel { max-width: 500px; margin: 0 auto; }
}


/* IE9,10 */
@media screen and (min-width:0\0){


.path-draw-canvas { display:none; }
.metro-btn {  position: relative; top: 0; left: 0; margin-left: 0; display:block; margin: 0 auto;}
h2.metro-select-title { width: 100%; box-sizing: border-box; padding: 0px 15px;}
h2.metro-select-title .jump { display:block; }


.metro-select-holder { padding: 20px 0;padding-bottom: 0; }
.metro-btn ul { width: 100%; box-sizing: border-box; padding: 0px 12px; }
.metro-btn ul li {margin: 3px 2px; font-size:14px;  opacity: 1; }
.metro-select-area .desc {  font-size: 13px; width: 100%; box-sizing: border-box; padding: 0px 12px; opacity: 0.8; }
.metro-btn ul .btn_line_1 { border: 2px solid #0a3190; }
.metro-btn ul .btn_line_2 { border: 2px solid #00a547; }
.metro-btn ul .btn_line_3 { border: 2px solid #f08300;}
.metro-btn ul .btn_line_4 { border: 2px solid #00a1e9; }
.metro-btn ul .btn_line_5 { border: 2px solid #a54a9a;}
.metro-btn ul .btn_line_6 { border: 2px solid #d08e1d; }
.metro-btn ul .btn_line_7 { border: 2px solid #657536; }
.metro-btn ul .btn_line_8 { border: 2px solid #e9506f; }
.metro-btn ul .btn_line_9 { border: 2px solid #c49b26;}
.metro-btn ul li:hover { box-shadow: auto; }

.search-panel-wrapper .search-panel { max-width: 500px; margin: 0 auto; }

.story02 .door-holder .door-left { left:-50%; }
.story02 .door-holder .door-right{ right:-50%; }

}

/* IE6,7,8 */
@media \0screen\,screen\9 {


.path-draw-canvas { display:none; }
.metro-btn {  position: relative; top: 0; left: 0; margin-left: 0; display:block; margin: 0 auto;}
h2.metro-select-title { width: 100%; box-sizing: border-box; padding: 0px 15px;}
h2.metro-select-title .jump { display:block; }


.metro-select-holder { padding: 20px 0;padding-bottom: 0; }
.metro-btn ul { width: 100%; box-sizing: border-box; padding: 0px 12px; }
.metro-btn ul li {margin: 3px 2px; font-size:14px;  opacity: 1; }
.metro-select-area .desc {  font-size: 13px; width: 100%; box-sizing: border-box; padding: 0px 12px; opacity: 0.8; }
.metro-btn ul .btn_line_1 { border: 2px solid #0a3190; }
.metro-btn ul .btn_line_2 { border: 2px solid #00a547; }
.metro-btn ul .btn_line_3 { border: 2px solid #f08300;}
.metro-btn ul .btn_line_4 { border: 2px solid #00a1e9; }
.metro-btn ul .btn_line_5 { border: 2px solid #a54a9a;}
.metro-btn ul .btn_line_6 { border: 2px solid #d08e1d; }
.metro-btn ul .btn_line_7 { border: 2px solid #657536; }
.metro-btn ul .btn_line_8 { border: 2px solid #e9506f; }
.metro-btn ul .btn_line_9 { border: 2px solid #c49b26;}
.metro-btn ul li:hover { box-shadow: auto; }

.search-panel-wrapper .search-panel { max-width: 500px; margin: 0 auto; }
}


